In [2]:
import pandas as pd

In [3]:
datapath = "gtfs/stops.txt"

In [7]:
df = pd.read_csv(datapath)

In [8]:
df

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station
0,0089,NaN,MONTGOMERY,NaN,50.838006,4.408970,NaN,NaN,0,37.0
1,0470F,NaN,SIMONIS,NaN,50.863666,4.329612,NaN,NaN,0,NaN
2,0471,NaN,SIMONIS,NaN,50.863732,4.329236,NaN,NaN,0,53.0
3,0472,NaN,SIMONIS,NaN,50.863543,4.329023,NaN,NaN,0,53.0
4,0473F,NaN,SIMONIS,NaN,50.863418,4.330031,NaN,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...
2790,34,NaN,TOMBERG,NaN,50.844316,4.425819,NaN,NaN,1,NaN
2791,44,NaN,TRONE,NaN,50.840813,4.366354,NaN,NaN,1,NaN
2792,32,NaN,VANDERVELDE,NaN,50.847387,4.446705,NaN,NaN,1,NaN
2793,6,NaN,VEEWEYDE,NaN,50.829391,4.300578,NaN,NaN,1,NaN
2794,40,NaN,YSER,NaN,50.857225,4.351502,NaN,NaN,1,NaN